<a href="/auctions">Home</a>
<a href="/logout">Logout</a>

<h1>New Auction</h1>
@model auction.Models.FormViewModel 
<form asp-controller="Auction" asp-action="CreateAuction" method="POST">
    <br>
    <label asp-for="name"></label>
    <input asp-for="name">
    <br>
    <span asp-validation-for="name" class="text-danger"></span>
    <br>
    <label asp-for="description"></label>
    <input asp-for="description">
    <br>
    <span asp-validation-for="description" class="text-danger"></span>
    <br>
    <label asp-for="bid"></label>
    <input asp-for="bid">
    <br>
    <span class="text-danger">@TempData["bid_error"]</span>
    <span asp-validation-for="bid" class="text-danger"></span>
    <br>
    <label asp-for="end_date"></label>
    <input asp-for="end_date">
    <br>
    <span asp-validation-for="end_date" class="text-danger"></span>
    <span class="text-danger">@TempData["date_error"]</span>
    <br>
    <input type="submit" class="btn btn-success" value="Create Auction">
</form>